education_ken.csv
GDP.xls
kdhs-tables.xlsx
population census 2019.xlsx
population_by_age_sex_and_educationa_attainment_in_2020.csv
qc_education_ken.csv
Real GDP per  carpita.xls
SLEMPTOTLSPZSKEN- Employment to Population Ratio for Kenya, Percent, Annual, Not Seasonally Adjusted - FRED Graph.csv
SLUEM1524ZSKEN-Youth Unemployment Rate for Kenya, Percent, Annual, Not Seasonally Adjusted.xlsx
